<div class="container">
  <div class="row">
    <div class="col-sm-10 header-title">
      ひとつずつを大切にする、最初のきっかけ
    </div>
  </div>

    <div class="row">

      <% @buys.first(6).each do |buy| %>
        <div class="col-sm-4 float-left">
          <div class="thumbnail">            
            <%= attachment_image_tag buy, :buy_post_image, size: '400x400' %>
              <div class="caption">
                  <%= buy.buy_caption %>
              </div>
          </div>
        </div>
      <% end %>

    </div>

</div>
