
  <div class="row">
    <div class="home-page">


    <div class="col-sm-12 header-title">
      <h1 class="home-title">ひとつずつを大切にする、最初のきっかけ</h1>
      <p class="home-text">
        <!-- 自分がどれだけの"もの"を持っているか考えたことはありますか。<br> -->
<!-- 壊れたり、破れたりする前に"もの"を捨てることがどのくらいありますか。<br> -->
<!-- この１年で捨てたものにくらべて、新しく買ったものは・・・？<br> -->
<!-- 増えていく自分のもちもの。<br> -->
<!-- 気に入って買ったはずなのに、持て余したり使いこなせずにいるのは"もの"の多さが原因かもしれません。<br> -->
ひとつ買ったらひとつ捨てる。<br>
持ちすぎないことで、ひとつひとつを大切に。<br>
新しく買った時にはお気に入りの紹介を。<br>
捨てる時には今までの感謝と手放してしまった理由を。<br>
</p>
    </div>


    </div>
  </div>
