// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fav-btn {
 width: 25px;
 height: 30px;
 font-size: 50px;
 color: #e54747;
 margin-left: 20px;
 }

.unfav-btn {
 width: 25px;
 height: 30px;
 font-size: 50px;
 color: #e54747;
 margin-left: 20px;
 }
